<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>

    <application
        android:name=".application.Intercross"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        <service android:name="org.phenoapps.services.BrapiAccountAuthenticatorService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accounts.AccountAuthenticator" />-->
<!--            </intent-filter>-->
<!--            <meta-data android:name="android.accounts.AccountAuthenticator"-->
<!--                android:resource="@xml/authenticator" />-->
<!--        </service>-->

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|screenSize|keyboard|orientation"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- used to define SAF storage directory, required at start of app -->
        <activity
            android:name=".activities.DefineStorageActivity"
            android:theme="@style/AppTheme" />

<!--        <activity android:name="org.phenoapps.activities.BrapiAuthActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--                <data android:scheme="fieldbook"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--- This is required or the LibBuilder class will crash the app -->
<!--        https://github.com/mikepenz/AboutLibraries/issues/279-->
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="false"/>

    </application>

</manifest>